<div class='container'>
<div class='row'>

<% @posts.each do |post| %>

<div class='col-md-2'>

<%= link_to post_path(post),class: 'text-dark' do %>

<div class="card" style="width: 13rem;">
  <%= image_tag 'green.png', class: "card-img-top" %>
  <div class="card-body">
    <p class="card-text"><%= post.title %></p>
    <p class="card-text"><%= post.content.truncate(10) %></p>
    <p>#タグ</p>
    <%= link_to post_path(post),  method: :delete, data: { confirm: "You sure?" } do %>
    <i class="far fa-trash-alt"></i>
    <% end %>
  </div>
</div>

<% end %><%# link-to %>
</div><%# col-2 %>

<% end %><%# each %>

</div>
</div>

